/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    /* Ensure the body takes full height */
    font-family: 'Playfair Display', serif;
    /* Set Playfair Display for body */
    background-color: #90a955;
    color: #132a13;
}

/* Body styling */
body {
    font-weight: 400;
    /* Regular weight for body text */
}

/* Navbar styling */
nav.navbar {
    margin-top: 0;
    /* Ensure no margin at the top */
}

/* Header styling */
h3 {
    font-family: 'Edu AU VIC WA NT Pre', cursive;
    /* Set Edu AU VIC WA NT Pre for h3 */
    font-weight: 600;
    /* Semi-bold weight for headers */
    color: #31572c;
}

/* Footer styling */
footer {
    font-weight: 400;
    background-color: #132a13;
    /* Dark background */
    color: #ecf39e;
    /* White text */
}